In [3]:
import sys 
import os
sys.path.append(os.path.abspath(os.path.join("..")))
from config import *
import pandas as pd

In [9]:
genes = pd.read_csv(vcf_path + "/GenotypeCounts.csv")
scores = pd.read_csv(vcf_path + "/aggregated_scores.txt", sep="\t")

In [ ]:
# Merge the two dataframes based on matching IID and patient_id
genes = genes.merge(scores[['IID', 'AVG']], left_on='patient_id', right_on='IID', how='left')
genes.drop(columns='IID', inplace=True)

In [14]:
genes

,patient_id,ATG16L1,NOD2,PTPN22,LACC1,IL23R,SLC39A8,CARD9,FUT2,PTAFR,HGFAC,TAGAP,DOK2,RELA,IL10RA,CCR7,SDF2L1,label,AVG
0,HC22,2,1,2,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0.028265
1,CD19,1,0,2,1,0,0,2,1,0,0,0,0,0,0,0,0,1,0.024430
2,CD13,1,0,2,1,0,0,0,2,0,0,0,0,0,0,0,0,1,0.017174
3,HC28,1,0,2,2,0,0,2,0,0,0,0,0,0,0,0,0,0,0.024559
4,HC1,2,0,2,0,0,0,1,1,0,0,0,0,1,0,0,0,0,0.026996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,HC5,2,0,2,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0.013530
107,CD22,0,0,2,0,1,1,0,0,0,0,0,1,0,0,0,1,1,0.015185
108,HC35,0,0,1,1,0,0,1,1,0,0,0,0,0,0,0,0,0,0.015098
109,CD56,0,0,2,2,0,0,2,1,0,0,0,0,0,0,1,0,1,0.031139
110,HC44,0,0,2,1,0,1,1,1,0,1,0,0,0,0,0,0,0,0.028844